<nav class="navbar navbar-expand-lg navbar-danger bg-danger fixed-top">
  <div class="container">
    {% if request.user.is_authenticated %}
  <a class="navbar-brand text-white" href="{% url 'core' %}"><i class="fa-solid fa-bolt" style="color: #f0ff1f;"></i>&nbsp; Pokemon-Blog </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" href="{% url 'account' %}"><i class="fa-solid fa-user" style="color: #1cabf2;"></i> &nbsp; Account <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket" style="color: #e0a34d;"></i> &nbsp; Logout</a>
      </li> 
    </ul> 
    {% else %}
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" href="{% url 'register' %}"><i class="fa-solid fa-user-plus" style="color: #34e557;"></i> &nbsp; Register<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'login' %}"><i class="fa-solid fa-user" style="color: #43bff4;"></i> &nbsp; Login</a>
      </li> 
    </ul>  
    {% endif %}
  </div>
</div>
</nav>
<div class="container">
  <div class="row">
      <div class="col-md-8 offset-md-2">
          {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
              {{ message | safe }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
      </div>
  </div>
</div>
<script>
  setTimeout(function () {
      let messages = document.getElementById('msg');
      let alert = new bootstrap.Alert(messages);
      alert.close();
  }, 2500);
</script>