{% extends 'partials/index.html' %}
{% load crispy_forms_tags %}
{% block content %}


<!--Where we will create blog-->
<div class="container">
    <div class="row mt-5 pt-5">
        <div class="col-md-4">
            <div class="card my-4 shadow-lg border-0">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn-danger border-0 w-100" type="submit" value="Create Blog">
                    </form>
                </div>
            </div>
        </div>
        <!--Where the blogs will appear on right side-->
        <div class="col-md-8">
            {% for post in blogpost %}
            <div class="card shadow-lg border-0 my-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <i class="fa-solid fa-bolt fa-4x" style="color: #fcff2e;"></i>
                        </div>
                        <div class="col-md-8">
                            <small>{{post.author}} | {{ post.date }}</small>
                            <hr>
                            <!--Add django  tags-->
                            <a class="h3 text-danger" href="{% url 'blog-detail' post.id %}">{{ post.title }}</a>
                            <p class="text-justify my-4">{{ post.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
     </div>
</div>

{% endblock %}