{% extends 'partials/index.html' %}
{% block content %}

<!--Where we will create blog-->
<div class="container">
    <div class="row mt-5 pt-5">
        <div class="col-md-4">
            <div class="card my-4 shadow-lg border-0">
                <div class="card-body">
                    <h2>Create</h2>
                </div>
            </div>
        </div>
        <!--Where the blogs will appear on right side-->
        <div class="col-md-8">
            {% for post in blogpost %}
            <div class="card shadow-lg border-0 my-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="" alt="image">
                        </div>
                        <div class="col-md-8">
                            <small>{{post.author}} | {{ post.date }}</small>
                            <hr>
                            <!--Add django  tags-->
                            <a class="h3 text-danger" href="">{{ post.title }}</a>
                            <p class="text-justify my-4">{{ post.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
     </div>
</div>

{% endblock %}